#background {
  content: "";
  position: fixed;
  left: -2vw;
  top: -2vh;
  z-index: -1;
  
  display: block;
  background-image: url('pizza.jpg');
  width: 105vw;
  height: 105vh;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.lobster {
	font-family: "Lobster", Helvetica, sans-serif;
}
