@import 'node_modules/bootstrap/scss/bootstrap';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

$white: #fff;

.app-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.background {
  background-image: url('./assets/pizza.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  filter: blur(2px);
  height: 105vh;
  left: -2vw;
  position: fixed;
  top: -2vh;
  width: 105vw;
  z-index: -1;
}

.header {
  font-family: 'Fondamento';
  margin-top: $card-spacer-y;
  text-align: center;
}

.calculator-row { margin-bottom: $card-spacer-y; }
.calculator-row:last-child { margin-bottom: 0; }

.white-text { color: $white; }
