@import 'node_modules/bootstrap/scss/bootstrap';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.header {
  margin-top: $card-spacer-y;
  text-align: center;
}

.calculator-row { margin-bottom: $card-spacer-y; }
.calculator-row:last-child { margin-bottom: 0; }
